<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to the Jungle
    </head>
    <body>
    <h1>nginx cofigured using Ansible</h1>
    <p>Becoz u are seeing this,it means Ansible succesfully installed nginx.</p>
    
    <p>{{ ansible_managed }}</p>
    </body>>
</html>